#city-input {
  width:100%;
}
#search-bttn {
  width:100%;
}

.card-header {
  width:100%;
}

.col-9 {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

.btn {
  font-weight: bold;
}

.hero-image {
  background-image: url("assets/media/weather-cover1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
  color: black;
}