body {
  background-color: #ddf5fa;
}

#city-input {
  width:100%;
}
#search-bttn {
  width:100%;
}

.card-header {
  width:100%;
}

.col-9 {
  padding-left: 0;
  padding-right: 0;
}

.hide {
  display: none;
}

.show {
  display: flex;
  justify-content: center;
}

.btn {
  font-weight: bold;
}

.hero-image {
  background-image: url("assets/media/weather-cover1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: relative;
  top: -70px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}